* {
  padding: 0px;
  margin: 0px;
}
/* font styel */
* {
  font-family: "Lato", sans-serif;
}
/* header */
.banner {
  display: flex;

  flex-shrink: 0;
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  width: 1920px;
  height: 500px;
  flex-shrink: 0;
  align-items: top;
  justify-content: space-around;
  background-color: rgba(245, 138, 161, 0.518);
}
.sub-title-line {
  color: #12111170;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn-shop-now {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff8f8;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  border-style: none;
  
}
.btn-shop-now:hover {
  background-color: #6b6b6b;
}
.banner-content {
  max-width: 600px;
  padding-top: 40px;
}

.profile-pic {
  width: 550px;
  height: 500px;
  flex-shrink: 0;
}

/* main */

.pick-the-flower {
  text-align: center;
  color: #000000;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#ft-flower {
  padding-top: 40px;
  color: #00000071;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.pic-cont {
  display: flex;
  gap: 44px;

  padding-top: 30px;
  justify-content: center;
  align-items: center;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
#pic-box {
  padding-top: 130px;
  width: 334px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: #b8709b73;
}

#pic-box-1 {
  padding-top: 130px;
  width: 334px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: #4cd3ee73;
}
#pic-box-2 {
  padding-top: 130px;
  width: 334px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: #fcfd8c73;
}
.buy-flower {
  width: 235px;
  height: 188px;
  justify-content: center;
}




/* 2nd banner */
.banner-2 {
    margin-top: 140px;
   
    display: flex;
  
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  
    width: 1920px;
    height: 500px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 130, 157, 0.186);
  }
  .sub-title-line-2 {
    color: #12111170;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #off{
    color:#E55473
  }
  .btn-signup-now {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #e55473;
    color: #fff8f8;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border-style: none;
  
  }
  .btn-signup-now:hover {
    background-color: #6b6b6b;
  }
  .banner-content {
    max-width: 600px;
    padding-top: 40px;
  }
  
  
  /* insta styles */
  .section-title {
    color: #181818;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-top: 80px;
}

.section-description {
    margin-top: 20px;
    padding: 30px 150px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


.insta-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.post-insta {
   

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}



.subc{
    background-image: url('../Flower Asset/Rectangle\ 9.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: center;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-top:10px;
    margin-bottom: 25px;
    margin-left: 800px;
    padding: 18px 55px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border-radius: 10;
    width: 50%;
    align-items: center;
justify-content: center;
}



.btn-e-signup-now {
    display: flex;
    padding: 20px 43px;
    align-items: flex;
    gap: 10px;
    border-radius: 8px;
    background: #e55473;
    color: #fff8f8;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border-style: none;
    margin-left: 800px;
  position: center;
   
   
  }
  .btn-e-signup-now:hover{
    background-color: #000000;}
    .pp{
        display: flex;
    }